<a href="https://colab.research.google.com/github/Akshaya-Raghunath/Scifor/blob/main/assignment_1_scifor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli',
24936)]

In [ ]:
lst=[('sachin tendulkar',34357),('ricky ponting',27483),('jack kallis',25534),('virat kohli',24936)]
sort=sorted(lst, key= lambda x:x[1])
print('sorted based on integer value: ',sort)

sorted based on integer value:  [('virat kohli', 24936), ('jack kallis', 25534), ('ricky ponting', 27483), ('sachin tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers
using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
n_lst=list(map(lambda a:a*a,lst))
print(n_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map
and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
n_lst=tuple(map(lambda a:str(a),lst))
print(n_lst)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing
numbers from 1 to 25.

In [ ]:
from functools import reduce
def multiply (x,y):
  return x*y
lst=list(range(1,26))
prdt=reduce(multiply,lst)
print("the product :",prdt)

the product : 15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [ ]:
lst=[2,3,6,9,27,60,90,120,55,46]
n_lst=[i for i in lst if i%2==0 and i%3==0]
print("numbers that are divisible by 2 and 3 :",n_lst)

numbers that are divisible by 2 and 3 : [6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and
filter function.
['python', 'php', 'aba', 'radar', 'level']

In [ ]:
lst=['python','php','radar','aba','level']
palindrome=lambda a:a==a[::-1]
n=list(filter(palindrome,lst))
print("the palindrome words: ",n)

the palindrome words:  ['php', 'radar', 'aba', 'level']